{# src/OC/PlatformBundle/Resources/views/Advert/bye.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page !</title>
    </head>
    <body>
        <h1>Good bye World {{nom}}!</h1>
        
        <p>
            Good bye
        </p>
    </body>
</html>
